<ul>
    <li>
        <a href="{{ path('blog_home') }}">
            <div class="nav-link">
                Wall
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('nelmio_api_doc_index') }}">
            <div class="nav-link">
                Redmine-apidoc
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('issues') }}">
            <div class="nav-link">
                Redmine-all issues
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('project') }}">
            <div class="nav-link">
                Redmine-all project
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('issue_last') }}">
            <div class="nav-link">
                last issue
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('tag_last_page') }}">
            <div class="nav-link">
                last tag
            </div>
        </a>
    </li>

</ul>
{% if is_granted('ROLE_USER') %}

<ul id="nav_create_list">
    <li>
        <a href="{{ path('post_add_get') }}">
            <div class="nav-link">
                create project
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('tag_add_page') }}">
            <div class="nav-link">
                create tag
            </div>
        </a>
    </li>
</ul>

{% endif %}
